<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="MSSQLProvider" value="System.Data.SqlClient"/>
	</appSettings>
	<connectionStrings>
		
    <add name="MSSQLProvider" connectionString="Data Source=DESKTOP-RRST477\SQLEXPRESS;Initial Catalog=testDB;Integrated Security=True"/>
	</connectionStrings>
</configuration>